<!doctype html>
<html lang="eng" ng-app="whistApp">
<head>
    <meta charset="UTF-8"/>
    <title>Whist</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div class="container">
        <div class="navBar">
            <div class="navBar-inner">
                <ul class="nav">

                </ul>
            </div>
        </div>
         <div ng-controller="GameController">

             <img ng-src="{{titleObject.imageUrl}}">

             <div id="newGame" ng-show="game.bools.createGameBool">
                 <div class="row" >
                     <div class="span11">
                         <h2>Want to play a Game?</h2>
                     </div>

                 </div>
                 <button type="button" class="btn btn-default" id="startNewGame" data-ng-click="startNewGame()">Start new game</button>

             </div>


             <div id="addingPlayersToTheGame" ng-show="game.bools.addPlayersBool">
                 <div class="row">
                     <div class="span11">
                         <h2>Add players</h2>
                     </div>

                 </div>

                 <form name="addPlayerForm">
                     <fieldset>
                         <div ng-repeat="player in game.players" >
                             <div class="span11">
                                 <h5>{{player.name}}</h5>
                             </div>

                         </div>
                         <input name="nameInputFiled" type="text" required placeholder="Add player" ng-model="name">
                         <button type="submit" class="btn btn-default" id="addPlayer" data-ng-click="addNewPlayer(addPlayerForm)">Add new player</button>
                         <button type="button" class="btn btn-default" id="startGame" data-ng-click="startGame()" ng-show="game.bools.startGameBool">Start game</button>
                     </fieldset>
                 </form>
             </div>

             <div id="resultTableDiv" ng-show="game.bools.showResultsBool">
                <!--
                 <div class="span11">
                     <h2>Standing</h2>
                 </div>

                 <table id="addPointsTable">
                     <tbody id="addPointsTableBody">
                     <tr>
                         <td class="pointInput"></td>
                         <td ng-repeat="player in game.players track by $index">
                             <input type="number" value=0 class="pointInput" name= "{{player.playerIndex}}">
                         </td>
                     </tr>

                     </tbody>
                 </table>
                 <button type="button" class="btn btn-default" id="addPoints" data-ng-click="addPoints()">Add points</button>



                <table id="resultTable">
                    <thead id="resultTableHeader">
                        <tr>
                            <th>Nbr.</th>
                            <th ng-repeat="player in game.players">{{player.name}}</th>
                        </tr>

                    </thead>
                    <tbody id="resultTableBody">
                    <tr>
                        <th>Total</th>
                        <th ng-repeat="points in game.total track by $index">{{points}}</th>
                    </tr>
                    <tr ng-repeat="rankingRow in game.ranking track by $index">
                        <th>{{$index + 1}}</th>
                        <th ng-repeat="point in rankingRow.points track by $index">{{point}}</th>
                    </tr>

                    </tbody>

                    -->




                 <div class="span11">
                     <h2>Standing</h2>
                 </div>

                 <table id="addPointsTable">
                     <tbody id="addPointsTableBody">
                     <tr>
                         <td ></td>
                         <td ng-repeat="player in game.players track by $index">
                             <input type="number" value=0 class="pointInput" name= "{{player.playerIndex}}">
                         </td>
                         <td class="addPointsButton">
                             <button type="button" class="btn btn-default" id="addPoints" data-ng-click="addPoints()">+</button>
                         </td>
                     </tr>

                     <tr>
                         <td class="alignRight underLine rightLine">Name</td>
                         <td ng-repeat="player in game.players" class="underLine">{{player.name}}</td>
                     </tr>

                     <tr>
                         <td class="alignRight rightLine leftLine underLine">Total</td>
                         <td ng-repeat="points in game.total track by $index" class="rightLine leftLine underLine">{{points}}</td>
                     </tr>
                     <tr ng-repeat="rankingRow in game.ranking track by $index">
                         <td class="alignRight rightLine">{{$index + 1}}</td>
                         <td ng-repeat="point in rankingRow.points track by $index">{{point}}</td>
                     </tr>

                     </tbody>
                 </table>
             </div>



         </div>
    </div>


<script src="lib/jquery.min.js"></script>
<script src="lib/underscore-1.4.4.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/GameController.js "></script>
<script src="js/services/GameService.js "></script>
<script src="js/services/RankingService.js "></script>

</body>



</html>
